body {
  margin: 5% 20%;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 15px;
  padding-left: 20px;
  border-bottom: 2px solid #008ECC;
}

.header-title {
  padding: 0 15px;
  font-size: 48px;
}

.progress {
  margin: 50px 20px 10px 20px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notes {
  margin: 0 20px;
}

.params {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  /* align-items: baseline; */
  margin: 0% 35%;
}
.param {
  font-size: 15px;
}

#progressContainer {
  margin-left: 5px;
  width: 75%;
  height: 18px;
  background-color: #73C2FB;
}

#encodeProgress {
  height: 100%;
  width: 0%;
  background-color: #008ECC;
}

#saveCapture {
  display: none;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#status {
  margin-top: 30px;
  margin-left: 20px;
  font-size: 14px;
}

.button {
  padding: 10px;
  border: 2px solid #008ECC;
  font-size: 16px;
  background-color: #73C2FB;
  font-weight: bold;
  margin: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  /* color: red; */
  background-color: #008ECC;
}

#review {
  color: blue;
  display: inline;
  text-decoration: underline;
  cursor: pointer;
}

.params {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
.param {
  margin: 0.1rem 0;
}